<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="go-import" content="bosun.org git https://github.com/bosun-monitor/bosun.org.git">

	<title>
		{% if page.title != "Home" %}
			{{ page.title }} &middot;
		{% endif %}
		Bosun
	</title>

	<link rel="stylesheet" href="{{site.github.url}}/styles/bootstrap.min.css">
	<link rel="stylesheet" href="{{site.github.url}}/styles/navbar-static-top.css">

	<link rel="shortcut icon" href="{{site.github.url}}/public/favicon.ico">
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<style>
		body {
			min-height: 2000px;
		}

		.navbar-static-top {
			margin-bottom: 19px;
		}
		#logo {
			position: absolute;
			top: 10px;
			width: 30px;
			height: 30px;
		}
		#logo-text {
			margin-left: 38px;
			font-size: 28px;
			color: #1f5296;
			letter-spacing: -1px;
		}
	</style>

	</head>
	<body>
		<div class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ site.github.url }}/">
						<img id="logo" src="{{ site.github.url }}/public/bosun-logo-mark.svg" />
						<div id="logo-text">bosun</div>
					</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						{% assign pages_list = site.pages %}
						{% for order in (2..site.pages.size) %}
							{% for node in pages_list %}
								{% if node.title != null and node.order == order %}
									{% if node.layout == "page" %}
										<li {% if page.url == node.url %} class="active" {% endif %}>
											<a href="{{site.github.url}}{{ node.url }}">{{ node.title }}</a>
										</li>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endfor %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Project <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="http://bosun.org/scollector">scollector</a></li>
								<li><a href="https://github.com/bosun-monitor/bosun">GitHub</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			{{ content }}
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{{ site.github.url}}/scripts/bootstrap.min.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-5620270-47', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>
